/*common*/
.content-title {
}
.content-title h1 {
  font-weight: bold;
  font-size: 20px;

  color: #1b1c1f;

  margin: 0;
}
.content-title p {
  color: #1b1c1f;
  font-size: 14px;
  margin: 0;
}

.account-form {
}

.account-form .form-group {
  display: flex;
  flex-direction: column;

  margin-top: 22px;
}

.account-form .form-group label {
  font-weight: bold;
  font-size: 14px;
  color: #646f7c;
}

.account-form .form-group input {
  border: 0;
  border-bottom: 1px solid #aeb4bf;
  outline: 0;

  height: 30px;
  font-size: 16px;

  margin-top: 4px;
}

.account-form .form-group input::placeholder {
  color: #aeb4bf;
}

#account-submit {
  margin-top: 70px;
}

.move-to-signup {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.move-to-signup span {
  font-size: 12px;
  color: #89939f;
}

.move-to-signup a {
  font-size: 12px;
  font-weight: bold;
  color: #53e3ac;
}
