/* Nav_login.html */
.nav-login {
  width: 375px;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(235, 234, 234, 1);
  left: calc(50% - 187.5px);
}

.nav-login img {
  display: block;
  width: 145px;
  height: 40px;
}

/* Nav.html */
.nav {
  width: 375px;
  height: 110px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(235, 234, 234, 1);
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 20px;
  left: calc(50% - 187.5px);
}

.logo-login-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-login-box a {
  display: block;
  text-decoration: none;
}

.logo-login-box a img {
  display: block;
  width: 110px;
  height: 30px;
}

.login {
  color: rgba(100, 111, 124, 1);
  font-weight: 700;
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.header a {
  margin-right: 30px;
  text-decoration: none;
}

.header a div {
  color: rgba(174, 180, 191, 1);
  font-size: 14px;
}

/* .header a div.menu-active {
  color: rgba(49, 185, 127, 1);
  font-weight: 700;
} */
