@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  color: #1b1c1f;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e9ebec;
}

.container {
  width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  padding: 0 20px;
  padding-top: 143px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}
