<!-- 기부할 단체 설정 -->
{% extends 'common/Nav.html' %} {% load static %} {% block extrahead %}
<title>기부하기</title>
<link rel="stylesheet" href="{% static 'css/create_user_choice.css'%}" />
{% endblock %} {% block content %}
<!--로그인 되어있을 때-->
{%if user_pk %}
<div class="content-title">
  <h1>기부하기</h1>
  <p>
    기부 플랜을 설정하면 설정에 따른 코인을 얻을 수 있어요!<br />
    받은 코인을 기부하고 싶은 단체에 나눠주세요!
  </p>
</div>
<div class="menu-coin">
  <div class="coin">
    <span>잔여코인</span>
    <span class="coin" id="coin">{{ data }}</span>
    <img src="{% static 'images/coin.svg' %}" alt="">
  </div>
  <p><a href="{%url 'select_plan' %}">기부플랜설정 ></a></p>
</div>
<div class="card">
  잔여 코인을 모두 소비할 때 까지 업체를 선택해주세요!<br>모두 소비를 해야 선택 완료가 가능해집니다!<br>이 선택은 결제일 이전에 언제든지 변경 가능합니다!<br>
</div>
<form action="" type="POST">
  <div class="orga-wrapper">
    <div class="orga">
      <div class="orga-image-box"><img src="{% static 'images/orga/greenpeace.png' %}" alt=""></div>
      <div class="orga-choice">
        <span>그린피스</span>
        <div class="change-count">
          <input placeholder="0" type="number" id="greenpeace" name="greenpeace">
        </div>
      </div>
    </div>
    <div class="orga">
      <div class="orga-image-box"><img src="{% static 'images/orga/unicef.jpg' %}" alt=""></div>
      <div class="orga-choice">
        <span>유니세프</span>
        <div class="change-count">
          <input placeholder="0" type="number" id="unicef" name="unicef">
        </div>
      </div>
    </div>
    <div class="orga">
      <div class="orga-image-box"><img src="{% static 'images/orga/WWF.jpg' %}" alt=""></div>
      <div class="orga-choice">
        <span>세계자연기금</span>
        <div class="change-count">
          <input placeholder="0" type="number" id="WWF" name="WWF">

        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="submit-btn" id="test">기부할 단체 선택 완료</button>

</form>
{%endif%}
{%if not user_pk%}
<!--로그인 되어있지 않을 때-->
<div class="content-title">
  <h1>
    기쁜에 가입하고 <br />
    기쁜 기부를 함께 해보아요!
  </h1>
  <p>로그인하고 기부를 해보세요!</p>
</div>

<div id="not-login-img-wrapper">
  <img src="{% static 'images/givven_img1.png' %}" alt="" />
</div>

<a class="submit-btn activate" id="goto-login" href="/login">로그인/회원가입</a>

{%endif%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script var data = data>
  var coins = [0, 0, 0]
  var data = document.getElementById('coin').innerHTML;

  $("#greenpeace").on("propertychange change keyup paste input", function () {
    var currentVal = $(this).val();
    coins[0] = currentVal;

    if (parseInt(coins[0])+parseInt(coins[1])+parseInt(coins[2]) === parseInt(data) ){
      document.getElementById('test').classList.add('activate');
    }
    else{
      document.getElementById('test').classList.remove('activate');
    }
  });
  $("#unicef").on("propertychange change keyup paste input", function () {
    var currentVal = $(this).val();
    coins[1] = currentVal;
    if (parseInt(coins[0])+parseInt(coins[1])+parseInt(coins[2]) === parseInt(data) ){
      document.getElementById('test').classList.add('activate');
    }
    else{
      document.getElementById('test').classList.remove('activate');
    }
  });
  $("#WWF").on("propertychange change keyup paste input", function () {
    var currentVal = $(this).val();
    coins[2] = currentVal;
    if (parseInt(coins[0])+parseInt(coins[1])+parseInt(coins[2]) === parseInt(data) ){
      document.getElementById('test').classList.add('activate');
    }
    else{
      document.getElementById('test').classList.remove('activate');
    }
  });

  console.log(coins[0]+coins[1]+coins[2]);
  if (coins[0]+coins[1]+coins[2] === data ){
    document.getElementById('test').classList.add('activate');
  }
</script>
{% endblock %}