{% extends 'common/Nav_login.html' %} {% load static %} {% block extrahead %}
<title>로그인</title>
<link rel="stylesheet" href="../static/css/account.css" />
{% endblock %} {% block content %}
<div class="content-title">
  <h1>로그인</h1>
  <p>기쁜에 오신 것을 환영해요!</p>
</div>

<!-- <div class="row mt-5">
  <div class="col-12">{{error}}</div>
</div> -->

<form method="post" class="account-form">
  {% csrf_token %}
  <div class="form-group">
    <label for="user_id">이메일</label>
    <input
      type="text"
      id="user-id"
      name="user-id"
      placeholder="이메일을 입력해주세요"
    />
  </div>
  <div class="form-group">
    <label for="user_pw">비밀번호</label>
    <input
      type="password"
      id="user-pw"
      name="user-pw"
      placeholder="비밀번호를 입력해주세요"
    />
  </div>
  <button type="submit" class="submit-btn activate" id="account-submit">
    로그인
  </button>
</form>

<div class="move-to-signup">
  <span>아직 회원이 아닌가요?</span>
  <a href="/register">회원가입</a>
</div>
{% endblock %}
