{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    {% block extrahead %} {% endblock %}
  </head>

  <body>
    <div class="nav">
      <div class="logo-login-box">
        <a class="logo" href="/"
          ><img src="{% static 'images/logo.svg' %}" alt=""
        /></a>
        {%if not user_pk %}
        <a class="login" href="{%url 'login' %}">로그인/회원가입</a>
        {%endif%}
        {%if user_pk %}
        <a class="logout" href="{%url 'logout'%}">로그아웃</a>
        {%endif%}
      </div>
      <div class="header">
        <a href="/">
          <div class="organization">기부단체</div>
        </a>
        <a  href="{%url 'create_user_choice' %}">
          <div class="donate">기부하기</div>
        </a>
      </div>
    </div>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
